In [1]:
%matplotlib inline
import random

import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

matplotlib.style.use('ggplot')
random.seed()

In [2]:
train = pd.read_csv('Features_Variant_1.csv', sep=',')
train.head()

,likes,Checkins,Returns,Category,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,fri_pub,sat_pub,sun_base,mon_base,tue_base,wed_base,thu_base,fri_base,sat_base,output
0,634995,0,463,1,0,806,11.291045,1.0,70.495138,0,...,0,0,0,0,0,0,0,0,1,0
1,634995,0,463,1,0,806,11.291045,1.0,70.495138,0,...,0,0,0,0,0,0,0,1,0,0
2,634995,0,463,1,0,806,11.291045,1.0,70.495138,0,...,1,0,0,0,0,0,0,0,1,0
3,634995,0,463,1,0,806,11.291045,1.0,70.495138,0,...,1,0,0,1,0,0,0,0,0,0
4,634995,0,463,1,0,806,11.291045,1.0,70.495138,0,...,0,0,0,0,0,1,0,0,0,0

In [3]:
# Нормировка и сохранение коэффициентов
norm_coeffs = {}
for column in train.columns[:-1]:
    mean = np.mean(train[column])
    std = np.std(train[column])
    norm_coeffs[column] = {'mean': mean, 'std': std}
    train[column] = (train[column] - mean) / std
train.head()

,likes,Checkins,Returns,Category,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,fri_pub,sat_pub,sun_base,mon_base,tue_base,wed_base,thu_base,fri_base,sat_base,output
0,-0.100037,-0.227075,-0.399678,-1.165633,-0.076435,0.730167,-0.511079,-0.495224,0.037159,-0.021827,...,-0.413734,-0.398309,-0.406216,-0.390827,-0.399501,-0.417774,-0.421477,-0.409962,2.429384,0
1,-0.100037,-0.227075,-0.399678,-1.165633,-0.076435,0.730167,-0.511079,-0.495224,0.037159,-0.021827,...,-0.413734,-0.398309,-0.406216,-0.390827,-0.399501,-0.417774,-0.421477,2.439248,-0.411627,0
2,-0.100037,-0.227075,-0.399678,-1.165633,-0.076435,0.730167,-0.511079,-0.495224,0.037159,-0.021827,...,2.417010,-0.398309,-0.406216,-0.390827,-0.399501,-0.417774,-0.421477,-0.409962,2.429384,0
3,-0.100037,-0.227075,-0.399678,-1.165633,-0.076435,0.730167,-0.511079,-0.495224,0.037159,-0.021827,...,2.417010,-0.398309,-0.406216,2.558674,-0.399501,-0.417774,-0.421477,-0.409962,-0.411627,0
4,-0.100037,-0.227075,-0.399678,-1.165633,-0.076435,0.730167,-0.511079,-0.495224,0.037159,-0.021827,...,-0.413734,-0.398309,-0.406216,-0.390827,-0.399501,2.393637,-0.421477,-0.409962,-0.411627,0

In [4]:
tests = [pd.read_csv(f'Test_Case_{i}.csv', sep=',', header=None, names=train.columns) for i in range(1, 11)]
test = pd.concat(tests, ignore_index=True)
for column in train.columns[:-1]:
    test[column] = (test[column] - norm_coeffs[column]['mean']) / norm_coeffs[column]['std']
print(test.shape)
test.head()

(1000, 53)

,likes,Checkins,Returns,Category,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,fri_pub,sat_pub,sun_base,mon_base,tue_base,wed_base,thu_base,fri_base,sat_base,output
0,-0.188615,2.171418,-0.403771,-1.215758,36.930406,-0.737149,-0.221096,1.389605,-0.827098,27.327688,...,-0.413734,-0.398309,-0.406216,-0.390827,-0.399501,-0.417774,2.372608,-0.409962,-0.411627,35
1,-0.193616,0.063219,-0.403816,-1.065384,3.537515,-0.846847,-0.468414,-0.175190,-0.790319,7.437132,...,2.417010,-0.398309,-0.406216,-0.390827,-0.399501,-0.417774,-0.421477,-0.409962,2.429384,2
2,-0.193603,1.462097,-0.403221,-1.215758,-0.076435,-0.892578,-0.640962,-0.509518,-0.827098,-0.021827,...,-0.413734,-0.398309,-0.406216,-0.390827,-0.399501,-0.417774,-0.421477,-0.409962,2.429384,0
3,-0.193616,-0.061678,-0.403698,-1.215758,0.983657,-0.884525,-0.629458,-0.415182,-0.827098,2.166134,...,-0.413734,2.510616,2.461742,-0.390827,-0.399501,-0.417774,-0.421477,-0.409962,-0.411627,0
4,-0.193616,29.591067,-0.403771,-1.215758,46.085744,-0.759750,-0.364885,1.305261,-0.827098,78.247513,...,-0.413734,2.510616,2.461742,-0.390827,-0.399501,-0.417774,-0.421477,-0.409962,-0.411627,0

In [5]:
# Разбиение на X и y
# bias will be first
X_train = train.drop(columns=['output'])
tmp = X_train.columns.tolist()
X_train['bias'] = 1
X_train = X_train[['bias'] + tmp]
y_train = train['output']

X_test = test.drop(columns=['output'])
tmp = X_test.columns.tolist()
X_test['bias'] = 1
X_test = X_test[['bias'] + tmp]
y_test = test['output']

X_np = X_train.to_numpy()
y_np = y_train.to_numpy()

X_test_np = X_test.to_numpy()
y_test_np = y_test.to_numpy()

X_train.head()

,bias,likes,Checkins,Returns,Category,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,...,thu_pub,fri_pub,sat_pub,sun_base,mon_base,tue_base,wed_base,thu_base,fri_base,sat_base
0,1,-0.100037,-0.227075,-0.399678,-1.165633,-0.076435,0.730167,-0.511079,-0.495224,0.037159,...,-0.410206,-0.413734,-0.398309,-0.406216,-0.390827,-0.399501,-0.417774,-0.421477,-0.409962,2.429384
1,1,-0.100037,-0.227075,-0.399678,-1.165633,-0.076435,0.730167,-0.511079,-0.495224,0.037159,...,2.437799,-0.413734,-0.398309,-0.406216,-0.390827,-0.399501,-0.417774,-0.421477,2.439248,-0.411627
2,1,-0.100037,-0.227075,-0.399678,-1.165633,-0.076435,0.730167,-0.511079,-0.495224,0.037159,...,-0.410206,2.417010,-0.398309,-0.406216,-0.390827,-0.399501,-0.417774,-0.421477,-0.409962,2.429384
3,1,-0.100037,-0.227075,-0.399678,-1.165633,-0.076435,0.730167,-0.511079,-0.495224,0.037159,...,-0.410206,2.417010,-0.398309,-0.406216,2.558674,-0.399501,-0.417774,-0.421477,-0.409962,-0.411627
4,1,-0.100037,-0.227075,-0.399678,-1.165633,-0.076435,0.730167,-0.511079,-0.495224,0.037159,...,-0.410206,-0.413734,-0.398309,-0.406216,-0.390827,-0.399501,2.393637,-0.421477,-0.409962,-0.411627

In [6]:
def shuffled(X: np.ndarray, y: np.ndarray):
    zipped = np.hstack((X, y.reshape(-1, 1)))
    np.random.shuffle(zipped)
    shuffled_X, shuffled_y = np.hsplit(zipped, np.array([-1]))
    return shuffled_X, shuffled_y.reshape(-1)


def mae(fact: np.ndarray, pred: np.ndarray):
    return np.mean((fact - pred) ** 2)


def mae_(fact: np.ndarray, pred: np.ndarray):
    return mae(fact, pred) / 2


def rmse(fact: np.ndarray, pred: np.ndarray):
    return np.sqrt(np.mean((fact - pred) ** 2))


def r2(fact: np.ndarray, pred: np.ndarray):
    return 1 - mae(fact, pred) / mae(fact, np.mean(fact))


def loss_and_grad(X: np.ndarray, y: np.ndarray, thetas: np.ndarray,
                  reg: float):
    n, m = X.shape
    preds = X @ thetas
    X_tr = X.transpose()
    
    main_grad = 1 / n * X_tr @ (preds - y)
    reg_grad = reg / (m * n) * thetas
    # По bias не пускают регуляризацию
    reg_grad[0] = 0
    result_grad = main_grad + reg_grad
    return mae_(y, preds), result_grad


def grad_descent(X: np.ndarray, y: np.ndarray, lr: float, reg: float,
                 stopping_thresh: float, max_iters: int = 100):
    n, m = X.shape
    assert y.shape == (n,)
    thetas = np.random.randn(m) * np.sqrt(1 / m)
    last_loss = -100
    for _ in range(max_iters):
        loss, grad = loss_and_grad(X, y, thetas, reg)
        if np.abs(loss - last_loss) < stopping_thresh:
            break
        thetas = thetas - lr * grad
        last_loss = loss

    return thetas


def get_kfold_errors(X: np.ndarray, y: np.ndarray, lr: float, reg: float,
                     stopping_thresh: float, n_folds: int = 5):
    assert len(y.shape) == 1, X.shape[0] == y.shape[0]
    folds_X = np.array_split(X, n_folds)
    folds_y = np.array_split(y, n_folds)

    val_errors = []
    for i in range(n_folds):
        current_train_X = np.vstack([folds_X[j]
                                     for j in range(n_folds) if j != i])
        current_train_y = np.hstack([folds_y[j]
                                     for j in range(n_folds) if j != i])
        current_val_X = folds_X[i]
        current_val_y = folds_y[i]
        thetas = grad_descent(current_train_X, current_train_y, lr, reg,
                              stopping_thresh)
        current_error = rmse(current_val_y, current_val_X @ thetas)
        val_errors.append(current_error)

    return val_errors

In [7]:
tested_params = []

## Тренировка и валидация с руками выставленными параметрами

In [8]:
hyperparams = {
    'lr': 0.1,
    'reg': 0.1,
    'stopping_thresh': 1
}

X_np, y_np = shuffled(X_np, y_np)
errors = get_kfold_errors(X_np, y_np, **hyperparams, n_folds=5)
print('Fold errors (RMSE): ', end='')
for err in errors:
    print(f'{err:.3f}  ', end='')
print(f'\nMean: {np.mean(errors):.3f}\n')

thetas = grad_descent(X_np, y_np, **hyperparams)
train_pred = X_np @ thetas
test_pred = X_test_np @ thetas
print(f'\033[4m      |  RMSE  |  R^2  \033[0m')
print(f'\033[4mTrain | {rmse(y_np, train_pred):6.2f} | {r2(y_np, train_pred):5.3f} \033[0m')
print(f'Test  | {rmse(y_test_np, test_pred):6.2f} | {r2(y_test_np, test_pred):5.3f} ')

Fold errors (RMSE): 33.220  26.944  31.847  26.761  28.849
Mean: 29.524

      |  RMSE  |  R^2
Train |  29.51 | 0.309
Test  | 209.14 | -2.990

In [9]:
def get_random_hyperparams():
    hyperparams = {}
    min_lr = 0.001
    max_lr = 0.1
    hyperparams['lr'] = random.uniform(min_lr ** 0.5, max_lr ** 0.5) ** 2
    min_reg = 0.001
    max_reg = 1
    hyperparams['reg'] = random.uniform(min_reg ** 0.5, max_reg ** 0.5) ** 2
    min_stopping_thresh = 0.1
    max_stopping_thresh = 100
    hyperparams['stopping_thresh'] = random.uniform(
        min_stopping_thresh ** 0.5, max_stopping_thresh ** 0.5) ** 2
    
    return hyperparams

In [10]:
for i in range(100):
    print(i, end=' ')
    hyperparams = get_random_hyperparams()
    errors = get_kfold_errors(X_np, y_np, **hyperparams, n_folds=5)
    error = np.mean(errors)
    tested_params.append((hyperparams, error))

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [11]:
best_params = sorted(tested_params, key=lambda x: x[1])
best_params[:5]

[({'lr': 0.0626191706931403,
   'reg': 0.5073608202538593,
   'stopping_thresh': 0.20443516558390665},
  29.486700144575178),
 ({'lr': 0.05687185507987713,
   'reg': 0.2228120744806122,
   'stopping_thresh': 0.28658047107932566},
  29.502836585980553),
 ({'lr': 0.02824440096877776,
   'reg': 0.2792857507439635,
   'stopping_thresh': 0.11597060900953009},
  29.50368530624123),
 ({'lr': 0.03641119858417638,
   'reg': 0.16008361774957536,
   'stopping_thresh': 0.26240196103813807},
  29.525115488404055),
 ({'lr': 0.07787180450908451,
   'reg': 0.8536415854370277,
   'stopping_thresh': 0.6981583367411777},
  29.526817309185663)]

## Тренировка и валидация с параметрами, найденными случайным поиском

In [12]:
hyperparams = best_params[0][0]
thetas = grad_descent(X_np, y_np, **hyperparams)
train_pred = X_np @ thetas
test_pred = X_test_np @ thetas
print(f'\033[4m      |  RMSE  |  R^2  \033[0m')
print(f'\033[4mTrain | {rmse(y_np, train_pred):6.2f} | {r2(y_np, train_pred):5.3f} \033[0m')
print(f'Test  | {rmse(y_test_np, test_pred):6.2f} | {r2(y_test_np, test_pred):5.3f} ')

      |  RMSE  |  R^2
Train |  29.43 | 0.313
Test  | 196.57 | -2.524

## Картина не сильно поменялась...

In [13]:
from scipy import stats


def regression_coef(preds, thetas, X, y):
    coef = pd.DataFrame(list(zip(X.columns.tolist(), thetas.tolist())),
                        columns=['predictor', 'coef'])
    X1 = X.to_numpy()
    b = thetas
    MSE = np.sum((preds - y) ** 2, axis=0) / float(X.shape[0] - X.shape[1])
    var_b = MSE * (np.linalg.pinv(np.dot(X1.T, X1)).diagonal())
    sd_b = np.sqrt(var_b)
    t = b / sd_b
    coef['pvalue'] = [2 * (1 - stats.t.cdf(np.abs(i), (len(X1) - 1))) for i in t]
    return coef

In [14]:
# Да, можно было просто посмотреть на модуль самих коэффициентов, но мы не ищем простых путей
pvalue_table = regression_coef(train_pred, thetas, X_train, y_np)
pvalue_table

      predictor      coef        pvalue
0          bias  6.289547  0.000000e+00
1         likes -0.174862  3.731195e-01
2      Checkins -0.639513  4.836719e-05
3       Returns -0.501734  4.845404e-02
4      Category -0.016504  9.151350e-01
5    Unnamed: 4 -0.119026  9.628348e-01
6    Unnamed: 5  0.094832  9.756837e-01
7    Unnamed: 6  0.371652  9.724295e-01
8    Unnamed: 7  0.447342  9.140467e-01
9    Unnamed: 8  0.568252  9.335021e-01
10   Unnamed: 9 -0.249003  5.557729e-01
11  Unnamed: 10 -0.373934  8.668563e-01
12  Unnamed: 11  0.856138  4.991666e-01
13  Unnamed: 12  1.425853  5.089019e-02
14  Unnamed: 13  0.434079  8.426545e-01
15  Unnamed: 14 -0.304992  1.808800e-01
16  Unnamed: 15  0.007160  9.956976e-01
17  Unnamed: 16  0.669954  6.328203e-01
18  Unnamed: 17  1.422605  8.188557e-03
19  Unnamed: 18  0.147594  9.348679e-01
20  Unnamed: 19 -0.179732  9.434670e-01
21  Unnamed: 20 -0.200195  9.486582e-01
22  Unnamed: 21  0.598634  9.538752e-01
23  Unnamed: 22  0.499459  8.988076e-01
24  Unnamed: 23  0.453887  9.462739e-01
25  Unnamed: 24  0.101298  9.237116e-01
26  Unnamed: 25 -0.508591  8.011433e-01
27  Unnamed: 26  0.281800  6.188203e-01
28  Unnamed: 27 -0.292243  4.637077e-01
29  Unnamed: 28  0.198296  9.114785e-01
30     commBase  1.342469  5.537011e-01
31       comm24  7.402300  0.000000e+00
32       comm48 -0.270742  2.566052e-01
33     comm24_1  1.975244  4.029826e-01
34   diff_24,48  6.450510  0.000000e+00
35     baseTime -4.466693  0.000000e+00
36       length  0.051890  7.226582e-01
37       shares  1.872426  0.000000e+00
38          hrs  0.752975  8.141137e-07
39      sun_pub -0.117777  4.072782e-01
40      mon_pub -0.128643  3.644920e-01
41      tue_pub -0.122166  3.868247e-01
42      wed_pub  0.150753  2.867716e-01
43      thu_pub -0.008268  9.533594e-01
44      fri_pub  0.093601  5.114344e-01
45      sat_pub -0.199874  1.619003e-01
46     sun_base -0.099546  4.863661e-01
47     mon_base  0.165821  2.460369e-01
48     tue_base -0.115524  4.175570e-01
49     wed_base  0.249938  7.885073e-02
50     thu_base -0.015876  9.102375e-01
51     fri_base  0.090937  5.181568e-01
52     sat_base -0.071652  6.116802e-01

### Возьмём только значимые фичи

In [15]:
good_features = pvalue_table[pvalue_table['pvalue'] < 0.05]['predictor']
good_features

0            bias
2        Checkins
3         Returns
18    Unnamed: 17
31         comm24
34     diff_24,48
35       baseTime
37         shares
38            hrs
Name: predictor, dtype: object

In [16]:
X_train_good = X_train[good_features.to_list()].to_numpy()
y_train_good = y_train.to_numpy()

hyperparams = best_params[0][0]
thetas = grad_descent(X_train_good, y_train_good, **hyperparams)
train_pred = X_train_good @ thetas
X_test_np = X_test[good_features.to_list()]
test_pred = X_test_np @ thetas
print(f'\033[4m      |  RMSE  |  R^2  \033[0m')
print(f'\033[4mTrain | {rmse(y_train_good, train_pred):6.2f} | {r2(y_train_good, train_pred):5.3f} \033[0m')
print(f'Test  | {rmse(y_test_np, test_pred):6.2f} | {r2(y_test_np, test_pred):5.3f} ')

      |  RMSE  |  R^2
Train |  29.54 | 0.307
Test  | 129.47 | -0.529

## $R^2$ на тесте значительно улучшилось